:root[data-theme="main"] {
  --primary-color: #191919;
  --secondary-color: #575252;
  --accent-color: #f08f66;
  --text-color: #ffffff;
  --input-bg: #d9d9d9;
  --input-text: #1e1e1e;
  --button-bg: #ffffff;
  --button-text: #000000;
}
